* {
    display: grid;
}
style, title {
    display: none;
}
body {
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

#curBoard, #tarBoard {

grid-template-rows: repeat(10, 1fr);
grid-template-columns: repeat(10, 1fr);
width: 25vw;
height: 25vh;
border: 5px solid black;
}
